<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <a href="{% url 'trainer' %}">Trainer</a>
        <a href="{% url 'profile' %}">Profile</a>
        <a href="{% url 'batchvw' %} "title="create a new batch"> Create Batches</a>
        <a href="{% url 'bdisplay' %} "title="display batch">  Batches</a>
        <a href="{% url 'logout' %}">Logout</a>

    </div>
</body>
</html>